html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__burger-btn{
  display: none;
  padding: 0;
  margin-right: 20px;
  border: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  z-index: 10;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-color: $accent;
    height: 3px;
    top: 0;
    right: 0;
    left: 0;
    transition: all .3s;
  }
  &::after{
    content: '';
    position: absolute;
    background-color: $accent;
    height: 3px;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s;
  }
  span{
    height: 3px;
    width: 30px;
    display: flex;
    align-items: center;
    background-color: $accent;
    transition: all .2s;
  }
}
.title {
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 50px;
  @extend %gil-700;
  color: $grey;
}
.title-2 {
  font-size: 64px;
  line-height: 77px;
	@extend %gil-700;
	color: $grey;
}
.title-bg {
  font-size: 200px;
  line-height: 242px;
  color: rgba(67, 66, 66, 0.1);
  @extend %gil-700;
  margin-top: -205px;
}
.button{
  background-color: $accent;
  color: #fff;
  border: none;
  padding: 20px 10px;
  max-width: 265px;
  width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  @extend %gil-700;
  color: #fff;
  cursor: pointer;
}
.button-garag{
  max-width: 420px;
  width: 100%;
  background: linear-gradient(180deg, #FF5454 0%, #CD4848 100%);
  box-shadow: 0px 20px 50px rgba(255, 129, 129, 0.3);
  padding: 35px 10px;
  font-size: 24px;
  line-height: 29px;
  @extend %gil-700;
  border: none;
  color: #fff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/button-garag-decor.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 195px;
    height: 114px;
    left: -100px;
    bottom: -40px;
  }
}
