@media (max-width: 1730px) {
  .top {
    &::before {
      top: -80px;
    }
  }
}
@media (max-width: 1440px) {
  .title-bg {
    font-size: 145px;
    line-height: 230px;
  }
  .category {
    &__items {
      grid-gap: 20px;
    }
    &__item {
      padding: 15px;
    }
    &__aside {
      padding: 20px 30px;
      margin-right: 20px;
    }
  }
  .balance {
    &__bar {
      flex-direction: column;
      align-items: flex-start;
      max-width: 600px;
      width: 100%;
      padding: 10px;
    }
    &__item {
      width: 100%;
      justify-content: space-between;
      & + .balance__item {
        margin-top: 10px;
      }
    }
    &__item-title {
      margin-left: 20px;
    }
    &__item-text {
      border: 1px solid #4ba9ff;
      margin-right: 20px;
    }
    &__item-select {
      border: 1px solid #4ba9ff;
      margin-right: 20px;
    }
  }
}
@media (max-width: 1225px) {
  .header {
    position: relative;
    &__menu {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      max-width: 300px;
      width: 100%;
      height: 100vh;
      display: flex;
      background-color: #fff;
      z-index: 10;
      transform: translateX(-300px);
      transition: all 0.3s;
      opacity: 0;
      box-shadow: 6px -10px 25px 3px rgba(#000, 0.4);
    }
    &__link--active {
      background-color: transparent;
      color: $accent;
    }
    &__menu--active.header__menu {
      opacity: 1;
      transform: translateY(0);
    }
    &__list {
      flex-direction: column;
      margin: 26px auto;
    }
    &__item + .header__item {
      margin-top: 20px;
    }
    &__link {
      padding: 0;
      &:hover {
        background-color: transparent;
        color: $accent;
      }
    }
    &__burger-btn {
      display: block;
      margin-left: auto;
    }
    &__burger-btn.header__burger-btn--active {
      &::before {
        top: 11px;
        transform: rotate(45deg);
      }
      &::after {
        bottom: 11px;
        transform: rotate(-45deg);
      }
      span {
        transform: translateX(-320px);
        opacity: 0;
      }
    }
  }
  .top {
    &__rot {
      flex-direction: column;
    }
    &__title-box {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 56px;
      line-height: 60px;
      margin-bottom: 30px;
    }
    &__link {
      padding: 15px 40px;
      font-size: 21px;
    }
    &__text {
      font-size: 21px;
    }
    &__content {
      max-width: 400px;
      width: 100%;
    }
    &__btns {
      bottom: 40px;
    }
    &__pagination {
      bottom: 40px;
    }
    &__benefits-item {
      font-size: 23px;
      line-height: 28px;
      padding: 25px 10px;
    }
  }
  .category {
    &__bar {
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 200px));
      margin-bottom: 45px;
    }
    &__bar-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px 5px;
    }
    &__item-title {
      font-size: 28px;
      line-height: 32px;
      margin: 5px auto 5px 0;
    }
  }
}
@media (max-width: 1070px) {
  .category {
    &__items {
      grid-template-columns: repeat(2, minmax(auto, 325px));
    }
  }
}
@media (max-width: 960px) {
  .top {
    &::before {
      display: none;
    }
  }
  .about {
    &__text {
      font-size: 21px;
      line-height: 26px;
    }
    &__text + .about__text {
      margin-top: 15px;
    }
    &__link {
      padding: 20px 15px;
      font-size: 21px;
      line-height: 24px;
    }
  }
  .footer {
    &__title {
      margin-bottom: 20px;
    }
    &__list-item + .footer__list-item {
      margin-top: 15px;
    }
  }
}
@media (max-width: 855px) {
  .title-bg {
    font-size: 90px;
    line-height: 190px;
  }
  .title {
    font-size: 44px;
    line-height: 115px;
  }
  .button {
    font-size: 17px;
    line-height: 21px;
  }
  .top {
    padding-bottom: 40px;
  }
  .about {
    &__content {
      grid-template-columns: repeat(1, 1fr);
    }
    &__img {
      margin: 35px auto;
    }
  }
  .category {
    .button {
      padding: 13px 10px;
    }
    &__aside {
      padding: 15px;
      max-width: 265px;
      width: 100%;
    }
    &__aside-title {
      font-size: 18px;
      line-height: 21px;
    }
    &__aside-select {
      padding: 12px 10px;
    }
    &__aside-btn {
      margin-top: 5px;
    }
    &__bar-item {
      font-size: 15px;
    }
    &__item-text {
      font-size: 16px;
      line-height: 18px;
    }
    &__item-price {
      padding: 5px 8px;
    }
    &__item-counter {
      margin: 0 2px;
    }
    &__pagination-link {
      font-size: 18px;
      line-height: 22px;
      width: 45px;
      height: 45px;
    }
  }

  .balance {
    &__title span {
      font-size: 28px;
      line-height: 34px;
    }
    &__subtitle {
      font-size: 21px;
      line-height: 23px;
      margin-bottom: 20px;
    }
    &__item-title {
      font-size: 21px;
      line-height: 24px;
    }
    &__item-text {
      font-size: 16px;
      line-height: 20px;
      padding: 8px 22px;
    }
    &__item-select {
      font-size: 16px;
      line-height: 20px;
      padding: 8px 22px;
    }
    &__totals-item {
      font-size: 21px;
      line-height: 24px;
    }
    &__totals {
      min-height: 50px;
    }
    &__input {
      font-size: 16px;
      line-height: 18px;
    }
  }
}
@media (max-width: 768px) {
  .category {
    &__bar {
      display: grid;
      grid-template-columns: repeat(3, minmax(auto, 200px));
    }
    &__bar-item {
      font-size: 16px;
    }
  }
  .footer {
    &__wrapper {
      grid-template-columns: repeat(2, minmax(auto, 330px));
      grid-gap: 25px;
    }
    &__item:nth-child(2) {
      margin: 0;
    }
    &__item:nth-child(3) {
      order: 1;
      margin: 0;
    }
  }
}
@media (max-width: 696px) {
  .header {
    &__wrapper {
      flex-direction: column;
    }
    &__burger-btn {
      margin: 0 auto 0 0;
      order: -1;
    }
    &__logo-link {
      margin-top: -25px;
    }
    &__box {
      margin-top: 20px;
    }
    &__search {
      margin-top: 30px;
      max-width: 338px;
      margin: 30px auto 0;
    }
    &__search-text {
      padding: 17px 15px;
    }
  }
  .top {
    &__title {
      font-size: 45px;
      line-height: 45px;
      margin-bottom: 20px;
    }
    &__rot {
      margin-bottom: 30px;
    }
    &__benefits-item {
      padding: 5px 10px;
    }
  }
  .category {
    .button {
      padding: 7px 10px;
      font-size: 17px;
    }
    &__bar {
      margin-bottom: 30px;
    }
    &__columns {
      flex-direction: column;
      align-items: center;
    }
    &__aside {
      position: static;
      margin: 35px auto 30px 0;
    }
    &__aside-select {
      font-size: 16px;
      line-height: 21px;
    }
    &__items {
      grid-template-columns: repeat(2, minmax(auto, 260px));
    }
  }
}
@media (max-width: 560px) {
  .title-bg {
    font-size: 60px;
    line-height: 100px;
  }
  .title {
    font-size: 35px;
    transform: translateY(-47px);
  }
  .top {
    &__benefits {
      grid-gap: 8px;
    }
    &__benefits-item {
      font-size: 18px;
      line-height: 18px;
    }
    &__link {
      margin-right: 10px;
      padding: 10px 15px;
      font-size: 15px;
    }
    &__text {
      font-size: 17px;
      line-height: 23px;
    }
  }
  .about {
    &__link {
      max-width: 100%;
      font-size: 18px;
    }
    &__text {
      font-size: 17px;
      line-height: 24px;
    }
    &__text + .about__text {
      margin-top: 10px;
    }
  }
  .balance {
    .title {
      margin-bottom: 0;
      transform: translateY(0px);
    }
    &__item-title {
      font-size: 18px;
      line-height: 21px;
      margin-left: 5px;
    }
    &__item-text {
      margin-right: 5px;
    }
    &__item-select {
      margin-right: 5px;
    }
    &__totals-item {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
@media (max-width: 510px) {
  .category {
    &__bar {
      transform: translateX(-300px);
      transition: all 0.3s;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      max-width: 300px;
      width: 100%;
      box-shadow: 0 0 20px 3px rgba(#000, 0.4);
    }
    &__bar--active {
      transform: translateX(0);
      transition: all 0.3s;
      opacity: 1;
    }
    &__bar-btn {
      display: block;
    }
    &__bar-btn.category__bar-btn--active {
      &::before {
        background-color: #000;
        top: 11px;
        transform: rotate(45deg);
      }
      &::after {
        background-color: #000;
        bottom: 11px;
        transform: rotate(-45deg);
      }
      span {
        transform: translateX(-320px);
        opacity: 0;
      }
    }
    &__items {
      grid-template-columns: repeat(2, minmax(auto, 230px));
      grid-gap: 5px;
    }
    &__item {
      padding: 7px;
    }
    &__item-title {
      font-size: 21px;
      line-height: 23px;
    }
    &__item-text {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 17px;
    }
    &__item-price {
      font-size: 13px;
    }
    &__item-total {
      font-size: 13px;
      width: 21px;
    }
    &__item-basket {
      svg {
        width: 20px;
      }
    }
  }
  .balance {
    &__title span {
      margin-left: 70px;
    }
  }
}
@media (max-width: 425px) {
  .button {
    font-size: 14px;
    line-height: 18px;
  }
  .header {
    &__search-text {
      padding: 10px 25px;
    }
    &__search-btn {
      font-size: 16px;
      padding: 6px 22px;
    }
  }
  .about {
    &__link {
      font-size: 16px;
    }
  }
  .category {
    &__bar-item {
      font-size: 14px;
    }
    &__aside {
      max-width: 230px;
    }
    &__aside-title {
      font-size: 16px;
      line-height: 19px;
    }
    &__aside-select {
      margin-bottom: 13px;
    }
    &__items {
      grid-template-columns: repeat(1, minmax(auto, 230px));
    }
    &__pagination-link {
      font-size: 15px;
      line-height: 21px;
      width: 40px;
      height: 40px;
    }
  }
  .balance {
    &__item-title {
      margin: 0;
      font-size: 16px;
      line-height: 19px;
    }
    &__item-text {
      margin: 0;
    }
    &__item-select {
      margin: 0;
    }
    &__totals {
      border-bottom: 2px solid #a6a6a6;
    }
    &__totals-item {
      font-size: 16px;
      line-height: 19px;
    }
    &__input {
      font-size: 14px;
      line-height: 18px;
      padding: 16px 10px;
      margin: 60px auto 20px;
    }
  }
  .footer {
    padding-bottom: 100px;
    &__wrapper {
      grid-template-columns: repeat(1, minmax(auto, 320px));
      justify-content: center;
    }
    &__item {
      margin: 0;
    }
    &__copy {
      font-size: 15px;
      line-height: 18px;
    }
    &__link {
      font-size: 15px;
      line-height: 18px;
      &-tel {
        padding-left: 25px;
      }
      &-mail {
        padding-left: 25px;
      }
    }
    &__title {
      font-size: 22px;
      line-height: 24px;
    }
  }
}
@media (max-width: 390px) {
  .top {
    &__benefits {
      grid-template-columns: repeat(2, 1fr);
    }
    &__benefits-item:nth-child(3) {
      grid-column: span 2;
      line-height: 36px;
    }
  }
}
@media (max-width: 375px) {
  .title {
    font-size: 30px;
  }
  .title-bg {
    font-size: 45px;
  }
  .header {
    &__logo-link {
      max-width: 200px;
    }
    &__basket {
      margin-right: 10px;
      font-size: 16px;
    }
    &__button {
      padding: 9px 8px 9px 95px;
    }
    &__search {
      max-width: 280px;
    }
  }
  .top {
    &__box {
      flex-direction: column;
    }
    &__link {
      margin: 0 0 15px;
    }
    &__current {
      font-size: 40px;
      line-height: 56px;
    }
    &__total {
      font-size: 32px;
      line-height: 36px;
    }
    &__btns {
      max-width: 105px;
    }
    &__btn-prev {
      width: 45px;
      height: 45px;
    }
    &__btn-next {
      width: 45px;
      height: 45px;
    }
  }
  .about {
    &__link {
      padding: 15px 15px;
    }
  }
}
@media (max-width: 350px) {
  .balance {
    &__subtitle {
      font-size: 19px;
      margin-bottom: 10px;
    }
    &__totals-item {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
@media (max-width: 335px) {
  .header__menu {
    box-shadow: none;
    max-width: 100%;
  }
}
