$accent: #4BA9FF;
$grey: #434242;

%gil-400{
  font-family: 'gilroy-regular';
  font-weight: 400;
}
%gil-500{
  font-family: 'gilroy-medium';
  font-weight: 500;
}
%gil-600{
  font-family: 'gilroy-semibold';
  font-weight: 600;
}
%gil-700{
  font-family: 'gilroy-bold';
  font-weight: 700;
}
%mon-300{
  font-family: 'Montserrat-Light';
  font-weight: 300;
}
%mon-400{
  font-family: 'Montserrat-Regular';
  font-weight: 400;
}
%mon-600{
  font-family: 'Montserrat-Semibold';
  font-weight: 600;
}
%mon-700{
  font-family: 'Montserrat-Bold';
  font-weight: 700;
}